<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Baker_drug_store</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='projects/baker_drug_store.css') }}">

</head>
<body>
<!-- partial:index.partial.html -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Viga">

<div class="base">

  <div class="toprectangle">
    <img class="title" src="https://i.ibb.co/TrvYjq5/Title.jpg">
    <a href="#header1" class="tab">About Us</a>
    <a href="#header2" class="tab">Owner Bio</a>
    <a href="#header3" class="tab">Contact Info</a>
    <a href="#header4" class="tab">Current Use</a>
  </div>

  <div class="containerall">
    <div class="group1">
      <p class="pictext">Bathroom Products</p>
    </div>
    <div class="group2">
      <p class="pictext">Sweet Treats</p>
    </div>
    <div class="group3">
      <p class="pictext">Medicinal Needs</p>
    </div>
  </div>

</div>
<div class="rectangle">
  <h3 id="header1">About Us</h3>
  <p class="text">Welcome to the family! We are a locally owened drug store with all of your needs covered in one conviniet place. Our stock ranges from medicinal needs, to treats and goodies. Next time you need to get anything at a fair price, make sure to drop on by!</p>
</div>

<div class="rectangle owner">
  <h3 id="header2">Owner Bio</h3>
  <p class="text"> Dr. A.F Bryant was a physician and surgeon. </p>
</div>

<div class="rectangle contact">
  <h3 id="header3">Contact Info</h3>
  <p class="text"> We are located at 108 Greenwood St. </p>
  <p class="text">Telephone number: 922. </p>
</div>

<div class="rectangle last">
  <h3 id="header4">Current Use</h3>
  <p class="text"> 108 N Greenwood Street is currently occupied by the “Natural Health Clinic” which sells vitamin and herbal supplements. </p>
  <img class="pictop" src="https://i.ibb.co/zF9HbFb/Clinic.jpg" />
</div>
</div>
<!-- partial -->
  
</body>
</html>