<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Cain&#39;s Cafe</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='projects/cains_cafe.css') }}">

</head>
<body>
<!-- partial:index.partial.html -->
<body>
  <div id="header">
    <h1>Cain's Cafe</h1>
    <div id="navbar">
      <a href="#body">About</a>
      <a href="#owner">Owner</a>
      <a href="#contact">Contact Us</a>
    </div>
  </div>
  <div id="body">
    <div id="about">
      <h3>About Us</h3>
      <p>Welcome to Cain’s Café, newly owned and operated by M.L. Cain! We are located on the corner of Greenwood at 201 N. Greenwood Ave in the Mrs. Partee Building- The first door north of the Dreamland Theatre! Fresh Home Cookin’! Come on in and let Ms. Katie fix you up a hot cup of coffee and a slice of homemade pie at Greenwood’s number one eatery!</p>
    </div>
  </div>
  <div id="menu">
    <h1>Dinner Menu</h1>
    <ul class="first">
      <li>Burger & Fries</li>
      <li>Pepperoni Pizza</li>
      <li>Spaghetti & Meatballs</li>
    </ul>
    <ul class="second">
      <li>Garden Salad</li>
      <li>Fresh Fish</li>
      <li>Our Famous Pie</li>
    </ul>
  </div>
  <div id="owner">
    <h2>Owner Bio</h2>
    <p>M.L. Cain personally roomed at the Red Wing Hotel. Cain’s Café was located in a small one-story frame building owned by a prominent woman of color, Mrs. Partee. At the time of the massacre, the building contained two spaces for two businesses- Cain's Café and a Dr. R.T. Motley’s Office.
    </p>
    <p>Cain’s Café is only recorded in Tulsa’s 1921 directory, although the space had previously been Ideal Café with a different proprietor the year before. </p>
    <p>Mrs. Partee claimed $1,500 in losses of that building resulting from the Massacre (about $21,820 in losses today, 2020). Mrs. Partee was one of the first to rebuild, however, no documentation was found indicating M.L. Cain stayed in Tulsa after the massacre or ever rebuilt Cain’s Café.
    </p>
  </div>
  <div id="contact">
    <p>201 N. Greenwood Ave </p>
    <p>Tulsa, OK</p>
  </div>
</body>
<!-- partial -->
  
</body>
</html>