<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - cozy barber shop</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='projects/cozy_barber_shop.css') }}">

</head>
<body>
<!-- partial:index.partial.html -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Advent Pro">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">

<div id="topall">
  <div class="topwords">
    <a href="#part1" class="word">About Us</a>
    <a href="#part3" class="word">Owner Bio</a>
    <a href="#part5" class="word">Information</a>
    <a href="#part7" class="word">Current Use</a>

    <a class="first" href="https://docs.google.com/forms/d/e/1FAIpQLSc1pjvaqtYLrnKh1QJIdwuaupHQzWZXRrXF5DSunno8cA78vg/viewform?usp=sf_link
" target="_blank">
      <h3 class="word5">Book Now</h3>
      <img class="logo" src="https://i.ibb.co/PMSgR8J/Cozy-Barber-Shop-logo.jpgss">

    </a>
  </div>
</div>

<div class="midphoto">
  <img class="pic1" src="https://i.ibb.co/MpD9hv7/Barber-cut-3.jpg">
  <img class="pic2" src="https://cdn.businessyab.com/assets/uploads/9f74ea7fbdcf84e805926aea5221cd82_-united-states-oklahoma-tulsa-county-tulsa-east-31st-street-4620-the-mens-groom-room-539-664-4740.jpg">
  <img class="pic3" src="https://i.ibb.co/qNqm1zK/Barber-Cut-8.jpg">
</div>

<div id="booknow">
  <img class="book" src="https://i.ibb.co/qxDkbrb/Barber-Cut-5.jpg">
  <div class="group1">
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSc1pjvaqtYLrnKh1QJIdwuaupHQzWZXRrXF5DSunno8cA78vg/viewform?usp=sf_link
" target="_blank">
      <h2 class="book1">Book Now</h2>
    </a>
    <br></br>
    <h2 class="book2">Chill. Relax. We got your hair.</h2>
  </div>
</div>
<div class="text1">
  <h2 id="part1">About Us</h2>
  <h3 class="part2">Come visit us! We sit on 210 East Archer St., and we are the best barber shop in town. As our name suggests we are “Cozy” from the connections we make to the community that we service. Everyone who comes in we treat as family. </h3>
</div>
<div class="text2">
  <h2 id="part3">Owner Bio</h2>
  <h3 class="part4"> Jack Douglas is the owner of The Cozy Barber Shop. People also referred to it as “Jacks Place”. He had an eye disease that he had to go to Hot Springs Arkansas to get treated for. The local physician suggests he goes there for further care. He also owned one of the “best residences in the area.”
  </h3>
</div>
<div class="text3">
  <h2 id="part5">Information</h2>
  <h3 class="part6"> This website was created to commemorate a business that was destroyed during the Tulsa Race Massacre. This website represents what the businesse’s website would possibly have looked like if it were open to this day.
  </h3>
</div>

<div class="text4">
  <h2 id="part7">Current Use</h2>
  <h3 class="part8"> The Cozy Barber Shop is Currently used for the BOK center parking lot. 210 E. Archer St.
  </h3>
</div>

<div class="commercial">
  <h3 class="connect">Connect With Us on Here!</h3>
  <img class="icons" src="https://i.ibb.co/Cb6SZCc/Social-Media.jpg">
</div>
<!-- partial -->
  
</body>
</html>