<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Red Wing Cafe</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='projects/red_wing_cafe.css') }}">

</head>
<body>
<!-- partial:index.partial.html -->
<body>
  <div id="header">

    <img src=https://i.ibb.co/yXQ04qk/red-wing-cafe-upload.png>
    <div id="navbar">
      <a href="#body">About</a>
      <a href="#owner">Owner</a>
      <a href="#contact">Contact Us</a>
    </div>
  </div>

  </div>
  <div id="body">
    <div id="about">
      <h3>About Us</h3>
      <p>We are located at 204 North Greenwood Street, Tulsa, Oklahoma. We are the swellest
        café in Oklahoma, and we never close! Parties and banquets are our specialty. We are
        able to serve guest, even groups on short notice. It is the service that brings you back, and
        the cooking that you just cannot resist.</p>
    </div>

    <div id="owner">
      <h2>Owner Bio</h2>
      <p>The proprietors of the Red Wing Café were listed as Tillman &amp; Lewis in some ads, while
        Julius T. Presley was listed in other Red Wing Café ads as the owner. Neither had any
        background information except it was reported in the Tulsa Star Newspaper that in April
        of 1920 J.T. Presley “purchased a swell electric piano for the Red Wing Café.” In this
        same newspaper it was stated that J.T. Presley was a joint proprietor owner of the Red
        Wing Hotel and Café along with his mother Mrs. Quinty Presley. She was described as
        ”one of the most progressive’ women of Tulsa and has a large circle of friends here.”</p>
    </div>
    <div id="contact">
      <p>Osage 5381 is our phone number. Please call for any questions or comments you may
        have or need about the café or our menu items.</p>
    </div>
</body>
<!-- partial -->
  
</body>
</html>