html {
      scroll-behavior: smooth;

}
header {
    text-shadow: 0px 1px 1px rgba(210, 143, 75, 0.25);
}
main {
    padding-top: 5rem;
    min-height: 70vh;
    background-color: #4497B6;
}
.color {
    text-shadow: 0px 1px 1px rgba(210, 143, 75, 0.25);
    color: #4497B6;
}
li {
    list-style: none;
}
.test {
    border: 1px solid red;
}
h1 {
    font-size: 48px;
}
.dark-theme {
    color: whitesmoke;
    background-color: #4497B6;
}
.light-theme, .light-theme * {
    background-color: white;
}
.bg-lighter {
    background-color: white;
}
.regular-footer {
    display: none;
}
footer {
    padding-top: 2rem;
}





@media only screen and (min-width: 768px) {
    .collapsed-footer {
         display: none;
    }
    .regular-footer {
        display: flex;
    }
    }
