{% extends "base.html" %}
{% block title %} Historic Black Wallstreet
{% endblock %}
{% block head %}
  {{ super() }}

    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

{% endblock %}

{% block content %}

<section id="hero">
    hero
</section>

<section id="carousel">
    carousel
</section>

<section id="student_projects">
    student student_projects
    <div class="light-theme">
        light
    </div>

    <div class="dark-theme">
        dark
    </div>

    <div class="light-theme">
        light
    </div>

    <div class="dark-theme">
        dark
    </div>

</section>


    
{% endblock %}